/* stop using <br> in your code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(235, 222, 222);
  --secondary-color: black;
  --grad1-color: rgba(238, 174, 202, 1);
  --grad2-color: rgba(148, 187, 233, 1);
}

.dark-mode {
  --primary-color: black;
  --secondary-color: white;
  --grad1-color: #030126;
  --grad2-color: black;
}
body {
  background: var(--primary-color);
  background: radial-gradient(
    circle,
    var(--grad1-color) 0%,
    var(--grad2-color) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles that displays all error messages starts here */
.error_message {
  width: 100%;
  color: red;
  font-size: 12px;
  margin: 10px 0;
  display: none;
}

/* styles that displays all error messages ends here */

.container {
  /* border: 2px solid blue; */
  position: relative;
  width: 550px;
  min-height: 350px;
  /* border: 2px solid red; */
  font-family: "Domine", serif;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  z-index: 2;
}

/* The toggle styling starts here */
.container .mode .fa-toggle-on {
  font-size: 30px;
  right: 10em;
  top: -8em;
  display: block;
}
.container .mode .fa-toggle-off {
  font-size: 30px;
  right: 10em;
  top: -8em;
  display: none;
  color: white;
}
/* The toggle styling ends here */

.calculator {
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
}

.calculator .title {
  text-align: center;
  font-size: 30px;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

/* default styling for input field starts here */
.calculator.formGroup {
  padding: 10px 0;
}
.calculator .formGroup label {
  display: block;
  padding: 5px 0;
  color: var(--secondary-color);
}
.calculator .formGroup .inputContainer {
  width: 100%;
  display: flex;
  gap: 2%;
}
.calculator .formGroup .inputContainer button {
  width: 10%;
  height: 40px;
  cursor: pointer;
}

.calculator .formGroup .inputContainer input {
  width: 88%;
  outline: none;
  padding: 8px 10px;
  outline: none;
  height: 40px;
}

/* select field styling */
.calculator .formGroup .inputContainer .quality {
  width: 100%;
  height: 40px;
  outline: none;
}
/* default styling for input field ends here */

/* Calculate button starts here */
.calculator .button_container {
  width: 100%;
}
.calculator .button_container .calc {
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  color: var(--primary-color);
  border: none;
  margin: 20px 0;
  background-color: var(--secondary-color);
}

.calculator .button_container .calc:hover {
  background-color: greenyellow;
  color: var(--dark);
}
/* Calculate button ends here */

/* calculate result starts here */
.calculator .tip_amount {
  width: 100%;
  height: 50px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  color: var(--dark);
  margin-top: 30px;
}
/* calculate result ends here */

/* Media query */
/* Always start from the hightest screen to the lowest when writing them (don't do always scatter them, from top to bottom like how i did mine, i'm speaking from experience */
@media (max-width: 600px) {
  .container {
    width: 480px;
  }
  .calculator .formGroup label {
    font-size: 12px;
  }
}
@media (max-width: 490px) {
  .container {
    width: 380px;
  }
  .calculator .formGroup label {
    font-size: 12px;
  }
}
